.cardHeader {
  font-size: 20px;
  text-align: center;
  padding: 5px;
  font-weight: bold;
  background: none
}

.pkmImage {
  width: 175px !important;
  height: 140px !important;
  margin: 0 auto;
  padding: none
}

.buttonCont {
  width: 100%;
  text-align: center;
}

.viewButton {
  width: 150px;
  position: relative;
  background-color: #6A5ACD !important;
  margin-bottom: 10px;
}

.viewButton2 {
  width: 150px;
  position: relative;
  background-color: rgba(161, 139, 16, 0.842) !important;
  margin-top: 10px;
  font-weight: bold !important;
  color: black !important;
}