.NavBar {
  background-color: rgb(150, 6, 150);
  font-size: 20px;
  font-weight: bold;
  color: white !important;
  margin-bottom: 5%;
}

.item {
  color: whitesmoke !important;
}

.container2 {
  float: right;
  margin-left: 0.5em;
}